<div class="container">
 <form action="/" method="post">
    <input type="number" id="number" name="number" placeholder="123456787654321">
    <label for="number" >IMEI:</label>
    <button type="submit">Check</button>
</form> 
</div>